@charset "UTF-8";

body {
    font-family: sans-serif;
    background-color: #fffaf0;
    color: #3f3f3f;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.header__title {
    font-family: italianno;
}

.header__text {
    padding: 5px;
    border: 2px solid #ffa07a;
    text-align: center;
}

.header__list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

.header__item {
    margin-left: 5px;
}

.main__img {
    width: 500px;
    margin: 0 auto;
    display: block;
}

#about {
    background-color: #ffe0e0;
}

.about__title {
    text-align: center;
}

.about__inner {
    display: flex;
    align-items: center;
    padding: 50px;
}

.about__img {
    width: 500px;
    border-radius: 30%;
}

.about__text {
    width: 400px;
    margin: 0 auto;
}