@charset "UTF-8";

body {
    font-family: sans-serif;
    background-color: #F7F3ED;
    color: #3f3f3f;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
}

p {
    font-size: 18px;
}

section {
    margin-top: 120px;
}

/*ヘッダー*/
.header {
    background-color: #F8CA12;
    padding: 20px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.header__title {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    padding: 20px 0 0 50px;
}

.header__cart {
    text-align: center;
    width: 39px;
}

.header__cart img {
    width: 100%;
}

.header__cart img:hover {
    opacity: 0.5;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 50px;
}

.header__item {
    margin-left: 100px;
    font-size: 18px;
}

.header__item a {
    color: #F7F3ED;
}

.header__item a:hover {
    opacity: 0.5;
}

.main__img {
    margin: 0 auto;
    display: block;
    width: 100%;
}

/*アバウト*/
#about {
    background-color: #87C0CA;
    padding-top: 30px;
}

.about__inner {
    display: flex;
    align-items: center;
    margin: 0 150px;
    gap: 40px;
    padding-bottom: 50px;
    aspect-ratio: 16 / 9;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    transform: translateY(150px);
}

.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.about__img {
    width: 70%;
    margin: 0 auto;
}

.about__text:nth-of-type(2) {
    margin-top: 10px;
}

.about__message {
    margin: 0 auto;
}

/*プロダクト*/
.desc__flex {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
}

.desc {
    margin: 60px;
    width: 500px;
    text-align: center;
}

.product__inner {
    margin: 0 auto;
}

.product__name {
    margin-bottom: 20px;
    font-size: 25px;
}

.product__desc {
    margin-bottom: 20px;
}

.product__button {
    margin-top: 20px;
}

.product__button a {
    color: #F7F3ED;
    padding: 20px 40px;
    background: #EF8D1E;
    border-radius: 30px;
}

.product__button a:hover {
    background: #F7F3ED;
    color: #EF8D1E;
    border: 2px solid #EF8D1E;
}

.swiper {
    width: 30%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.swiper-slide img {
    height: auto;
    width: 100%;
}

/*ショッピングガイド*/
.shopping__wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.shopping__guider__list {
    display: flex;
    list-style: none;
}

.delivery {
    text-align: center;
}

.delivery__title:nth-of-type(2) {
    margin-top: 20px;
}


.delivery__list {
    list-style: none;
}

.pay {
    text-align: center;
}

.pay__text {
    margin-top: 20px;
}

.pay__list {
    list-style: none;
    margin-top: 20px;
}

.closed {
    text-align: center;
}

.closed__list {
    list-style: none;
    margin-top: 20px;
}

/*FAQ*/
.tab-area {
    display: flex;
    border: 1px solid #5987BF;
    cursor: pointer;
    max-width: 500px;
    width: 100%;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/3);
    padding: 10px;
    background-color: #FFF;
}

.tab:nth-child(n+2) {
    border-left: 1px solid #5987BF;
}

.tab.active {
    background-color: #87C0CA;
    color: #fff;
}

.panel {
    display: none;
    background-color: #FFF;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    border: 1px solid #5987BF;
    min-height: 386px;
}

.panel.active {
    display: block;
}


#faq {
    margin-bottom: 120px;
}

.accordion {
    max-width: 960px;
    margin: 0 auto;
}

.accordion-content {
    display: none;
}

.accordion-header {
    background-color: #FFF;
    padding: 15px 45px 15px 20px;
    margin: 15px 0 0;
    transition: background .3s ease;
    cursor: pointer;
    position: relative;
}

.accordion-header::before,
.accordion-header::after {
    position: absolute;
    content: '';
    top: 1px;
    right: 20px;
    bottom: 0;
    width: 12px;
    height: 2px;
    margin: auto;
    background: #87C0CA;
}

.accordion-header::after {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.accordion-header.active::after {
    transform: rotate(0deg);
}

.accordion-content {
    background-color: #FFF;
    padding: 12px 20px 10px;
}

.accordion-header span,
.accordion-content span {
    padding-left: 25px;
    position: relative;
}

.indent {
    display: inline-block;
}

.accordion-header span::before {
    position: absolute;
    content: "Q";
    top: -2px;
    left: 0;
    color: #151E2F;
    font-size: 17px;
}


.accordion-content .answer::before {
    position: absolute;
    content: "A";
    top: -1px;
    left: 0;
    color: #151E2F;
    font-size: 17px;
}

.accordion-header:hover {
    background-color: #F2F2F2;
}

/*フッダー*/
.footer {
    display: flex;
    padding: 50px;
    justify-content: center;
    background-color: #F8CA12;
}

.logo {
    width: 100px;
    margin-right: 50px;
}

.footer__list {
    display: flex;
    list-style: none;

}

.footer__item {
    margin: 50px;
}

.footer__item a {
    color: #F7F3ED;
}

.footer__item a:hover {
    opacity: 0.5;
}